.profile__edit-avatar{
  background-image: url(../../../images/edit-avatar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  padding: 0;
  margin-right: 30px;
  overflow: hidden;
}

.profile__edit-avatar:hover{
  cursor: pointer;
}