.elements {
  max-width: 880px;
  margin: 46px auto 0;
  list-style-type: none;
}

@media screen and (max-width: 936px) {
  .elements {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 500px) {
  .elements {
    margin-top: 36px;
  }
}