.auth__button{
  margin: 230px auto 0;
  width: 358px;
  height: 50px;
  color: #000;
  background-color: #fff;
  font-size: 18px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 21px;
  border: none;
  padding: 0;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.2s linear 0.1s;
}
.auth__button:hover{
  opacity: 0.85;
  cursor: pointer;
}