.popup__input {
  padding: 0;
  width: 358px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto 0;
  padding-bottom: 13px;
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 570px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
}