.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto 0;
  padding-top: 45px;
  max-width: 880px;
  border-width: 0 0 1px 0;
  border-color: rgb(84, 84, 84, 0.7);
  border-style: solid;
}

@media screen and (max-width: 900px) {
  .header {
    padding-top: 28px;
  }
}